


form{
    padding-right: 30px;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
mat-label{
    color:gray
}

mat-form-field {
    flex-direction: column;
    
    align-items: flex-start;
}

.item {
    width: 98%;
}

.mat-dialog-content{
    margin-left: 0px;
    padding-left: 0px;
}

.nav{
    padding: 5px;
    padding-right: 8px;
    margin-bottom: 25px;
    margin-top: 5px;
}

h2{
    font-weight: 200;
}

.sub{
    margin-top: 20px;
}

.anios{
    display: flex;
    justify-content: space-between;
}

.anio{
    width: 47%;
    margin-bottom: 0px;
    padding:0px;
    
}

.check{
    margin-top: -10px;
    margin-bottom: 25px;
    font-size: 14px;
    padding-left: 3px;
}
