.tarjeta{
    margin-top: 0px;
}

mat-icon{
    color:gray;
    font-weight: 100;
}

.descripciones .experiencias{
    display: flex;
}

.descripciones .experiencias .foto{
    margin: 10px;
    padding: 30px;
}

.tarj{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.jola{
    margin-top: 10px;
    font-size: 4px;
    width: 40px;
    height: 40px;
    background-color: #E4E6E9;
    
}

.del {
    font-size: 22px;
    line-height: 24px;
    color:E4E6E9
}

div.titulo{
    padding-top: 15px;

}

.conocimiento{
    font-size: 18px;
    font-weight: 200;
}

.conocimientos{
    padding-bottom: 5px;
    padding-top: 7px;
}


.grupo{
    display: flex;
    align-items: center;
}
 
.educacion{
    margin-left: 7px;
}

mat-icon.modificar{
    color:gray;
    font-weight: 100;
    font-size: 22px;
}

mat-icon.delete{
    color:gray;
    font-weight: 100;
    font-size: 22px;
}

